.container {
  color: var(--color-main-font-color);
  margin: 2rem 10rem;
  margin-bottom: 8rem;
}

.loader {
  margin: 40px auto;
  width: 100px;
  display: block;
}

.backButton {
  cursor: pointer;
  font-size: 1em;
  padding: 0.4rem;
  margin: 1rem;
  text-decoration: none;
  background-color: var(--color-main-accent-color);
  color: var(--color-main-headings-color);
  border: 1px solid var(--color-main-accent-color);
  border-radius: 5px;
}

.lyricsContainer .songInfo {
  padding: 1.5rem 2rem;
  border: 1px solid rgb(154, 154, 154, 0.5);
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  text-align: center;
}

.lyricsContainer .songInfo strong{
  font-size: 1.4em;
}

.lyricsContainer .lyrics {
  padding: 1.5rem 2rem;
  border: 1px solid rgb(154, 154, 154, 0.5);
  border-radius: 0 0 15px 15px;
  font-size: 1.2em;
  line-height: 1.75;
}