@import '../../App.css';

.trackInfo {
  color: var(--color-main-font-color);
  border: 1px solid #5A5A5A;
  border-radius: 4px;
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.trackItemElem {
  margin: 6px;
  font-size: 0.85em;
  text-align: left;
}

.trackItemElemLabel {
  color: var(--color-main-headings-color);
  font-size: 1.15em;
  font-style: italic;
}

.trackButton {
  grid-column: 1/-1;
  text-align: center;
}

.trackButton button {
  color: var(--color-main-font-color);
  background-color: var(--color-main-accent-color);
  cursor: pointer;
  font-size: 0.9em;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}