@import "../../App.css";

.heading {
  color: var(--color-main-headings-color);
  margin: 2rem;
  text-align: center;
}

.loader {
  margin: 40px auto;
  width: 100px;
  display: block;
}

.tracksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  padding-bottom: 8rem;
}

@media (max-width: 768px) {
  .tracksContainer {
    grid-template-columns: 1fr;
  }
}
