:root {
  --color-main-accent-color: #4A0F76;
  --color-main-background-color: #141414;
  --color-main-headings-color: #E7E7E7;
  --color-main-font-color: #BABABA;
}

body {
  margin: 0;
  font-size: 14px;
  background-color: var(--color-main-background-color);
  font-family: 'Poppins', sans-serif;
}

.app-container {
  margin: 0rem 14rem;
}

@media (max-width: 1200px) {
  .app-container {
    margin: 0rem 4rem;
  }
}