:root {
  --color-main-accent-color: #4ad5ff;
  --color-main-background-color: #fff;
  --color-main-headings-color: #000;
  --color-main-font-color: rgb(100, 100, 100);
}

body {
  margin: 0;
  font-size: 14px;
  background-color: var(--color-main-background-color);
  font-family: "Poppins", sans-serif;
}

.app-container {
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}
